/* google font Lato */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Open+Sans:wght@400;600;700;800&display=swap");

/* common styles for flower shop website */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
}


