/* google font Lato */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Open+Sans:wght@400;600;700;800&display=swap");

/* common styles for flower shop website */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* font family */
body {
  font-family: "Lato", sans-serif;
}
/* description design for website */
.description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  line-height: 30px;
}

/* website's primary button */
.primary-button {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  border: 0;
  border-radius: 8px;
  background: #e55473;
  padding: 20px 42px;
}

/* primary color of website */
.primary-color {
  color: #e55473;
}
/* background color for header */
.header {
  background: rgba(229, 84, 115, 0.1);
}

/* banner section start */
.banner-container {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 50px 100px 0 200px;
}

/* banner description */
.banner-description {
  margin: 32px 0;
}

/* title of banner */
.banner-title {
  color: #272727;
  font-size: 80px;
  font-weight: 800;
}

.banner-image {
  width: 550px;
}

/* main content start */
.section-container {
  max-width: 1200px;
  margin: 0 auto;
}
.section {
  margin-top: 128px;
}
.section-content{
  width: 600px;
  text-align: center;
  margin: 0 auto;
}

/* featured flowers section */
.section-title {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
}
.section-description {
  margin: 24px 0 48px 0;
}
.featured-flowers {
  display: flex;
  gap: 24px;
}
.featured-column {
  display: flex;
}

.featured-flower-1 {
  background: rgba(167, 33, 98, 0.15);
  border-radius: 300px 300px 0px 0px;
  width: 30%;
}
.featured-flower-1 .featured-image {
  position: relative;
  top: 45px;
  padding: 0 30px;
}
.featured-flower-2 {
  background: rgba(5, 151, 160, 0.15);
  border-radius: 300px 300px 0px 0px;
  width: 30%;
}
.featured-flower-2 .featured-image {
  position: relative;
  padding: 0 15px;
  top: 60px;
}
.featured-flower-3 {
  background: rgba(71, 125, 17, 0.15);
  border-radius: 300px 300px 0px 0px;
  width: 30%;
}
.featured-flower-3 .featured-image {
  position: relative;
  padding: 0 30px;
  top: 3px;
}

/* feature section design */
.feature-container {
  display: flex;
  justify-content: space-around;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  padding: 80px 175px;
  text-align: center;
}
/* popular occasion section */
.popular-occasions{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap:24px;
  
}
.occasion-title{
  text-align: center;
  /* margin-bottom: 50px; */
}
.occasion-description{
  text-align: center;
}
.popular-occasion{
  box-shadow: 0px 5px 50px 0 #ebe9e9;
  margin-top: 50px;
  padding: 10px;
}
.popular-occasion:hover{
  background-color: #ebe9e9;
}
.popular-occasion img{
  width: 400px;
}
/* sale deal section design */
.sale-deal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 180px;
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
  padding: 100px;
}
.sale-deal {
  width: 50%;
  text-align: center;
}
.sale-deal-description {
  margin: 24px 0 32px 0;
}

/* instagram image section design */
.instagram-images {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.instagram-images img {
  width: 280px;
}
/* subscription for latest deal section design */
.subscription-container {
  background: url("../flower-asset/Rectangle\ 9.png") no-repeat;
  background-repeat: no-repeat;
  background-position: center;
  padding: 122px;
  text-align: center;
  border-radius: 8px;
}
.email-subscription{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:16px;
}
input[type="email"] {
  border: 0;
  padding: 23px;
  width: 50%;
  border-radius: 8px;
  background: #fff;
}
/* footer section */
.footer {
  margin-top: 130px;
  background: #111010;
  color: #fff;
  text-align: center;
  padding: 130px 0;
}
.footer-title {
  font-size: 48px;
  font-weight: 800;
}
.footer-description {
  color: #fff;
  margin: 24px 0 32px 0;
}
.footer-copyright-notice {
  color: rgba(255, 255, 255, 0.4);
}
